{
  "parser": "babel-eslint",
  "env": {
      "browser": true,
      "node": true
  },
  "extends": "airbnb",
  "rules": {
      "indent": 2,
      "no-nested-ternary": 0,
      "react/jsx-filename-extension": false
  }
}
